* {
  margin: 0;
  padding: 0;
}
div {
  margin: 0px;
  position: absolute;
}
#main {
  height: 100%;
  width: auto;
  position: relative;
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
}
#header {
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  padding: 15px 15%;
  font-size: 2.5em;

}
#title {
    padding: 0 0 0 25%;
    letter-spacing: 1px;
    font-family: 'Orbitron', sans-serif;
}
#nav {
  top: 5em;
  left: 0;
  width: 15%;
  height: 45em;
}
#text {
  top: 5em;
  left: 15%;
  width: 70%;
  height: 45em;
}
#ad {
  top: 5em;
  right: 0;
  width: 15%;
  height: 45em;
}
#footer {
  left: 0;
  top: 50em;
  bottom: 0;
  height: 5em;
  width: 100%;

}
