*{
    margin: 0;
    padding: 0;
}
div {
    margin: 0px;
    position: absolute; 
}
#main{
    height: 100%;
    width: auto;
    position: relative;
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
}
#div1{
    background-color: cadetblue;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
}

#div2{
    background-color: coral;
    top: 5em;
    left: 0;
    width: 15%;
    height: 40em;
}
#div3{
    background-color: darkgoldenrod;
    top: 5em;
    left: 15%;
    width: 70%;
    height: 40em;
}
#div4{
    background-color: greenyellow;
    top: 5em;
    right: 0;
    width: 15%;
    height: 40em;
}
#div5{
    left: 0;
    top: 45em;
    height: 5em;
    width: 100%;
    background-color: cornflowerblue;
}