body{
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(tlo.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; - fajne przykrycie tła na całej długości i szerokości */
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    width: 460px;
    align-items: flex-start;
}
.photo-container{
    display: flex;
    height: 460px;
    background-color: #ffffff;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}
.logo{
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
}
.logo-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #b6bdc1;
    text-transform: uppercase;
}
.logo-text{
    font-size: 9px;
    text-align: center;
}
.photo{
    display: flex;
    width: 102,5px;
    height: 102,5px;

}
.photo:hover{
    opacity: 0.6;
}
.text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #b6bdc1;
    font-size: 13px;
    text-align: justify;
    border: none;
    line-height: 32px;
}
.header{
    display: flex;
    justify-content: center;
    color: #cbd6df;
    font-size: 20px;
    border-bottom: 2px ridge #5f5f5f;
}
.underline-words{
    border-bottom: 2px dotted #819791;
}
.underline-words a{
    text-decoration: none;
    color: #b6bdc1;
}
.underline-words:hover{
    border-bottom: 2px solid #819791;
}
footer{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.mail{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.copyright{
    display: flex;
    justify-content: center;
    color: #4a4c4e;
    font-size: 10px;
    padding: 30px 0;
}