*{
    margin: 0;
}
.all{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.logo{
    width: 160px;
}
header{
    display: grid;
    
    grid-template-columns: 20fr 1fr 1fr;
    align-items: center;
    width: 85vw;
    padding: 18px 30px;
    border-bottom: 1px solid #bcbcbc;
}
.menu-icon{
    display: grid;
    width: 30px;
    height: 30px;
    grid-template-columns: 1fr 1fr;
    
}
.menu-icon-element{
    display: grid;
    grid-column: 1 2;
    width: 12px;
    height: 12px;
    background-color: #000000;
    border-radius: 10%;
}
.icon-change{
    background-color: #bcbcbc;
}
 .menu-icon:hover > .icon-change{
    background-color: #cbcbcb;
    border-radius: 50%;
    transition: border-radius 3s;
    transition: background-color 1s;
}
.phone-icon{
    width: 32px;
    margin-right: 15px;
}
#side-nav{ 
    display: grid;
    position: fixed;
    right: 0;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0;
    grid-template-rows: 115px 30px repeat(7, 50px);
    background-color:#010101;
    height: 100vh;
    color: white;
    justify-content: center;
    box-shadow: -4px 0px 11px 4px #0000003d;
    font-family: 'Montserrat', sans-serif;
}
.logo-nav{
    width: 180px;
    justify-self: center;
    padding: 15px 0;
    border-bottom: 1px solid white;
}
.nav-element{
    align-self: center;
    padding: 10px 0;
    width: 100%;
    padding-left: 20px;
    
}
.nav-element:hover{
    background-color: #343434;
    transition: background-color 0.6s;
}
.exit-icon{
    width: 20px;
    padding-top: 10px;
}
.slide-gallery{
    width: 100%;
    display: flex;
    height: 300px;
    overflow: auto;
    position:absolute;
}
.slide{
    width: 100vw;
    flex-shrink: 0;
    background-color: darkgoldenrod;
}
.slide > img{
    object-fit:cover;
}
.img-slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ghost{
    height: 300px;
}
.gallery-buttoms{
    display: flex;
    width: 50vw;
    justify-content: space-between;
}
.gallery-buttom{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #9f9f9f;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
}
.gallery-buttom > a{
    text-decoration: none;
    color: #000000;
}
.gallery-buttom:active{
    background-color: #cbcbcb;
}
.buttoms-gallery-space{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.welcome-text{
    padding: 12px 25px;
    box-shadow: -4px 0px 11px 4px #00000019;
}
#welcome-content{
    font-size: 13px;
}
#welcome-title{
    padding-bottom: 10px;
    font-weight: 900;
}
.img-reference{
    height: 300px;
    width: 100vw;
    object-fit:cover;   
}
/*.img-reference:hover, .img-reference:active{
    filter: blur(var(--value, 1rem)); --value: 6px;
}*/
