*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    margin: 0px;
    padding: 0px;
}
.all, .content{
    display: grid;
    justify-self: center;
    width: 100vw;
}
.logo{
    width: 160px;
}
header{
    display: grid;  
    grid-template-columns: 20fr 1fr 1fr;
    align-items: center;
    width: 100vw;
    padding: 18px 30px;
    border-bottom: 1px solid #bcbcbc;
}
.menu-icon{
    display: grid;
    width: 30px;
    height: 30px;
    grid-template-columns: 1fr 1fr;
    
}
.menu-icon-element{
    display: grid;
    grid-column: 1 2;
    width: 12px;
    height: 12px;
    background-color: #000000;
    border-radius: 10%;
}
.icon-change{
    background-color: #bcbcbc;
}
 .menu-icon:hover > .icon-change{
    background-color: #cbcbcb;
    border-radius: 50%;
    transition: border-radius 3s;
    transition: background-color 1s;
}
.phone-icon{
    width: 32px;
    margin-right: 15px;
}
#side-nav{ 
    display: grid;
    position: fixed;
    right: 0;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    width: 0;
    grid-template-rows: 115px 30px repeat(7, 50px);
    background-color:#010101;
    height: 100vh;
    color: white;
    justify-content: center;
    box-shadow: -4px 0px 11px 4px #0000003d;
    font-family: 'Montserrat', sans-serif;
}
.logo-nav{
    width: 180px;
    justify-self: center;
    padding: 15px 0;
    border-bottom: 1px solid white;
}
.nav-element{
    align-self: center;
    padding: 10px 0;
    width: 100%;
    padding-left: 20px;    
}
.nav-element:hover{
    background-color: #343434;
    transition: background-color 0.6s;
}
.exit-icon{
    width: 20px;
    padding-top: 10px;
}
.carousel-item img{
    height: 30vh;
    object-fit: cover;
}
#carouselExampleIndicators{
    margin-top: 20px;
    width: 100vw;
}
.welcome{
    display: grid;
    justify-self: center;
    padding-top: 2vh;
    justify-content: center;
    width: 80vw;
}
.welcome-text{
    margin-top: 20px;
    padding: 0px 25px;   
}
#welcome-title-web{
    display: none;
}
.welcome-col2{
    display: none;
}
#welcome-content{
    font-size: 13px;
}
#welcome-title{
    padding-bottom: 10px;
    font-weight: 900;
}
.img-reference{
    height: 300px;
    width: 100vw;
    object-fit:cover;  
    margin-top: 20px;
}
.img-reference-area{
    display: grid;
}
.top-footer{
    display: flex;
    justify-content: center;
    height: 170px;
    width: 100%;
    border-top: 1px solid #bcbcbc;
    padding-top: 20px;
}
/*width: 100%;
    border-top: 1px solid #bcbcbc;*/
.mini-contact{
    font-size: 11px;
    background-color: #5b5356;
    color: white;
    text-align: center;
    padding-top: 10px;
    width: 85%;
    height: 120px;
    line-height: 19px;
}
.mini-contact > h4{
    font-size: 14px;
    margin-bottom: 9px;
}
.loki-dog >img{
    height: 200px;
    
}
.loki-dog{
    width: 200px;
    margin-bottom: -1px;
    justify-self: end;
}
.end-main-text{
    display: grid;
    font-size: 19px;
    grid-template-columns: 1fr 1fr;
}
.near-loki-dog{
    justify-self: start;
    align-self: center;
}
.end-icon > a > img{
    width: 35px;
    padding-right: 18px;
    padding-top: 20px;
}
.end-icons{
    display: flex;
}
.header-icons{
    display: none;
}
.header-icon > a > img{
    width: 60px;
    padding-left: 30px;
    padding-top: 20px;
}
#map{
    height: 100px;
    width: 100%;
    padding: 0;
}
iframe{
    height: 400px;
    width: 100%;
}
footer{
    display: grid;
    background-color: #5b5356;
    height: 9vh;
    padding-top: 15px;
    width: 100vw;
    margin-top: -60px;
    color: #cebac1;
    font-size: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
}
footer a:link, .inferior-footer {
    color: #fce1ea; 
    background-color: transparent; 
    text-decoration: none;
  }
  #nav{
      width: 100vw;
      padding: 1vh 10vw;
  }

/* ----- Media queries ----- */ 

    @media (max-width: 767px){
    #nav{
        display: none;
    }
  }
  @media (min-width: 532px){
    .img-reference{
        width: 70vw;
        justify-self: center;
    }
  }
  @media (min-width: 768px) { 
    .logo{
        width: 200px
    }
    #side-nav, .menu-icon, .phone-icon{
        display: none;
    }
    .carousel-item img{
        height: 40vh;
    }
    header{
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .welcome{
        width: 80vw;
    }
    .header-icons{
        display: flex;
    }
   }
   @media (min-width: 992px) {
       .carousel-item img{
        height: 56vh;
        }
        .img-reference-area{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .img-ref-1{
            margin-right: -5vw;
        }
        .img-ref-2{
            margin-left: -5vw;
        }
        .img-reference{
            width: 40vw;
            justify-self: center;
        }
        .logo{
            width: 250px;
        }
        .end-main-text{
            display: none;
        }
        .welcome-col2{
            display: grid;
        }
        .welcome-col1{
            margin-right: 3vw;
        }
        .welcome-text{
            display: grid;
            justify-self: center;
            grid-template-columns: 1fr 1fr;
        }
        #welcome-title{
            display: none;
        }
        #welcome-title-web{
            display: grid;
            justify-self: center;
            padding-top: 2vh;
        }
        
        .top-footer{
            margin-top: 6vh;
        }
    }
    @media (min-width: 1338px){
        .img-reference{
            height: 45vh;
        }
    }

    /* ----- Our bostons ----- */ 

