*{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
body main{
    display: flex;
    flex-direction: column;
}
header{
    background-color: #252a3a;
    color: #d8d8d8;
}
.menu-space{
    background-color: #252a3a;
}
 .menu-space{
    display: none;
    position: absolute;
    z-index: 1;
}
header:hover .menu-space{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 30px;
}
 
.menu-title{
    display: flex;
    position: relative;
    justify-content: flex-end;
    color: #3f8ad8;
    padding: 5px;
}
.msg-title-labels{
    color: #537194;
}
#labels-title{
    text-transform: uppercase;
}
.nav-element, #labels-title, .label-element{
    padding: 8px 20px;
    margin-left: 10px;
}
.nav-element:hover, .label-element:hover{
    background-color: #383d58;
}
.menu-element{
    margin-top: 10px;
}
#label-elements{
    padding-top: 10px;
}
.label-element{
    display: flex;
}
.color-square{
    height: 16px;
    width: 16px;
    background-color: aquamarine;
    margin-right: 10px;
    border-radius: 2px;
}
#colour-p{
    background-color: #f7ca63;
}
#colour-j{
    background-color: rgb(107, 201, 181);
}
#colour-f{
    background-color: rgb(104, 191, 111);
}
.buttom-space{
    display: flex;
    justify-content: center;
}
#buttom{
    background-color: #1B98F8;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 16px;
}
.part-mail{
    display: flex;
    flex-direction: column;
}
.mail-element{
    display: flex;
    padding: 14px 16px;
}
.mail-element:hover{
    background-color: #e3e3e3;
}
.text-section{
    display: flex;
    flex-direction: column;
}
.avatars{
    border-radius: 3px;
    width: 42px;
    height: 42px;
    margin-right: 8px;
}
.name{
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
}
.title{
    font-size: 16px;
    color: #000000;
}
.short-text{
    font-size: 13px;
    color: #000000;
    margin: 7px 0;
}
.highlight{
    border-left: 6px solid #1B98F8;
}
.buttom-mail-space{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.buttom-mail{
    display: flex;
    align-self: flex-end;
    border: 1px solid #6666;
    padding: 6px 26px;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
}
.mail-header, .mail-element{
    display: flex;
    border-bottom: 1px solid #dadada;
}
.header-element{
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
}
.title-mail{
    font-size: 32px;
}
.from-mail{
    color: #1b98f8;
}
.day-mail{
    color: #999;
}
.mail-content{
    padding: 35px;
}
